#amiibos{
    background: url(../IMG/PBPB.JPG),url(../IMG/PBPB.JPG);
    background-repeat: no-repeat, repeat;
    background-position: bottom center, center center;
    background-size: 100%, auto;
}
.amiibo{
    cursor: pointer;
    transition: all ease-out 0.2s;
}
.amiibo:hover{
    transform: scale(1.05);
}
.amiibo-name{
    background-color: rgba(0,0,0,0.4);
    color: white;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}
#Empresa{
    background:url(../IMG/YG.jpg) ;
    color: white;
    background-repeat: no-repeat, repeat;
    background-size: 100%, auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
#Albums{
    background: url(../IMG/BlackPink.jpg);
    color:pink;
    background-repeat: no-repeat, repeat;
    background-position: bottom center, center center;
    background-size: 200%, auto;
    text-align: center;
}
div.card{
    background-color: black;
}

#card-separador {
    justify-content: space-between;
}
#Presentacion{
    color: pink;
    align-items: center;
    text-align: center;
}
.link:hover{
    --BP:rgb(9, 243, 212);
    color: var(--BP);    
}
footer{
    color: pink;
} 

#Spotify{
    align-items: center;
}
