#amiibos{
    background: url(../IMG/PBPB.JPG),url(../IMG/PBPB.JPG);
    background-repeat: no-repeat, repeat;
    background-position: bottom center, center center;
    background-size: 100%, auto;
}
.amiibo{
    cursor: pointer;
    transition: all ease-out 0.2s;
}
.amiibo:hover{
    transform: scale(1.05);
}
.amiibo-name{
    background-color: rgba(0,0,0,0.4);
    color: white;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

#Albums{
    background: url(../IMG/BlackPink.jpg);
    color:pink;
    background-repeat: no-repeat, repeat;
    background-position: bottom center, center center;
    background-size: 350%, auto;
    text-align: center;
}
div.card{
    background-color: black;
}

#card-separador {
    justify-content: space-between;
}
#Presentacion{
    color: pink;
    align-items: center;
    text-align: center;
}
.link:hover{
    --BP:rgb(9, 243, 212);
    color: var(--BP);    
}
footer{
    color: pink;
} 

#Spotify{
    align-items: center;
}
#MV´S{
    background: url("../IMG/BlackP1ink.jpg");
    color:pink;
    background-repeat: no-repeat, repeat;
    background-position: bottom center, center center;
    background-size:cover;
    text-align: center;
}
@media(max-width: 1000px) {
    html {
        font-size: 52%;
        position: absolute;

    }
}
@media screen and (max-width: 1340px) {

    .row {
        position: relative;
        max-width: 1100px;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1240px) {
    .row {
        position: relative;
        padding: 0 var(--gutter-medium);
        overflow-x: hidden;
    }
    .container-test img{
        width: 85px;
    }
}

@media screen and (max-width: 700px) {
    .row {
        padding: 30 var(--gutter-medium);
        position: relative;
        justify-content: space-between;
        overflow-x: hidden;
    }
    .container-test img{
        width: 75px;
    }
}

@media screen and (max-width: 500px) {
    .row {
        padding: 20 var(--gutter-small);
        position: relative;
        justify-content: space-between;
        overflow-x: hidden;
    }
    .container-test {
        text-align: center;
      }
      .container-test img{
          width: 90px;
      }
}

@media screen and (max-width: 360px) {
    .row {
        padding: 10 var(--gutter-small);
        position: relative;
        justify-content: space-between;
        overflow-x: hidden;
    }
    .container-test img{
        width: 80px;
    }
}

